In [14]:
import os
import pandas as pd
import glob

In [56]:
DIALOGS_DATA_PATH = "C:/data/dialogs"
DIALOGS_META_DATA_PATH = "C:/data/dialogs_meta"

MERGED_DATA_PATH = "C:/data/merged_data"

In [57]:
!dir "C:/data/"

 Volume in drive C has no label.
 Volume Serial Number is A222-3295

 Directory of C:\data

11.05.2022  13:43    <DIR>          .
11.05.2022  13:43    <DIR>          ..
24.02.2022  07:08    <DIR>          dialogs
24.02.2022  05:02    <DIR>          dialogs_meta
               0 File(s)              0 bytes
               4 Dir(s)  22я520я741я888 bytes free

In [58]:
dialogs_data_files = glob.glob(f"{DIALOGS_DATA_PATH}/*.csv")
dialogs_meta_data_files = glob.glob(f"{DIALOGS_META_DATA_PATH}/*.json")

## merging all dialogs_data (csv files) into one

In [59]:
df_array = []

for d in dialogs_data_files:
    local_df = pd.read_csv(d)
    local_df["dialog_id"] = os.path.basename(d).split(".")[0]
    
    df_array.append(local_df)
    
df = pd.concat(df_array, ignore_index=True)

In [60]:
if not os.path.isdir(MERGED_DATA_PATH):
    os.mkdir(MERGED_DATA_PATH)

if "Unnamed: 0" in df:
    df = df.drop(["Unnamed: 0"], axis=True)
    
df.to_csv(f"{MERGED_DATA_PATH}/dialogs_data_all.csv", index=False)

In [61]:
df.shape

(725729, 9)

In [66]:
df.head(10)

,id,date,from_id,to_id,fwd_from,message,type,duration,dialog_id
0,896,2022-02-22 13:10:49+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,NaN,text,NaN,-1001121077046
1,895,2022-02-22 13:10:41+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,​​Твоя тривога має місце бути.\n\nМи справді н...,photo,NaN,-1001121077046
2,894,2022-02-21 15:50:55+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,NaN,photo,NaN,-1001121077046
3,893,2022-02-14 13:10:05+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,"​​​​Можливо, ти сьогодні пішов на пари чи робо...",photo,NaN,-1001121077046
4,892,2022-02-14 10:30:06+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,NaN,photo,NaN,-1001121077046
5,891,2022-02-12 14:00:04+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,​​Маєш пару на 14-те?\n\nЧи ти та сама людинка...,photo,NaN,-1001121077046
6,890,2022-02-10 10:00:04+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,"​​​​Любов варта всього, пам'ятаєш же?\n\nМи ві...",photo,NaN,-1001121077046
7,889,2022-02-07 12:00:19+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,NaN,photo,NaN,-1001121077046
8,888,2022-02-03 10:00:10+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,"​​Могилянка — твоя, моя, наша спільна — повсяк...",photo,NaN,-1001121077046
9,887,2022-01-31 07:01:01+00:00,NaN,PeerChannel(channel_id=1121077046),NaN,NaN,photo,NaN,-1001121077046

In [67]:
min(df["date"]),max(df["date"])

('2017-07-31 13:46:48+00:00', '2022-02-24 03:33:31+00:00')

In [68]:
df.groupby(["type"])["type"].count()

type
photo       57906
sticker     27604
text       599458
video       14176
voice       26585
Name: type, dtype: int64

In [69]:
df.groupby(["type"])["duration"].sum()

type
photo            0.0
sticker          0.0
text             0.0
video      1073092.0
voice       467192.0
Name: duration, dtype: float64

## merging all dialogs_meta_data (json files) into one

In [70]:
df_array = []

for d in dialogs_meta_data_files:
    local_df = pd.read_json(d)
    local_df = local_df.rename({'id': 'dialog_id'}, axis=1)
    df_array.append(local_df)
    
df_meta = pd.concat(df_array, ignore_index=True)

In [71]:
df_meta.to_csv(f"{MERGED_DATA_PATH}/dialogs_users_all.csv", index=False)

In [72]:
df_meta.shape

(2227, 4)

In [73]:
df_meta.head(10)

,dialog_id,name,type,users
0,-1001157055007,Украшения,Channel,"{'user_id': 564960030, 'first_name': 'Анастаси..."
1,-1001166945561,Музыка,Channel,"{'user_id': 872142485, 'first_name': 'Мама', '..."
2,-1001166945561,Музыка,Channel,"{'user_id': 564960030, 'first_name': 'Анастаси..."
3,-1001180354971,Колодій 2021💫,Group,"{'user_id': 559734164, 'first_name': 'Angelina..."
4,-1001180354971,Колодій 2021💫,Group,"{'user_id': 443419481, 'first_name': 'Олексій'..."
5,-1001180354971,Колодій 2021💫,Group,"{'user_id': 565439585, 'first_name': 'Марічка'..."
6,-1001180354971,Колодій 2021💫,Group,"{'user_id': 455550602, 'first_name': 'Андрей',..."
7,-1001180354971,Колодій 2021💫,Group,"{'user_id': 503671174, 'first_name': 'Danylo',..."
8,-1001180354971,Колодій 2021💫,Group,"{'user_id': 620607419, 'first_name': 'Ромко', ..."
9,-1001180354971,Колодій 2021💫,Group,"{'user_id': 373598141, 'first_name': 'Nastya',..."

In [74]:
df_meta.groupby(["type"])["type"].count()

type
Channel              6
Group             2068
Private dialog     153
Name: type, dtype: int64